<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.moblin.sdk.ide.preferences.MoblinSDKPreferencePage"
            id="org.moblin.sdk.ide.preferences.MoblinSDKPreferencePage"
            name="%MoblinSDK.Preferences.Name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.moblin.sdk.ide.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="MoblinSDKNature"
         name="%MoblinSDK.Nature.Name"
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="org.eclipse.linuxtools.cdt.autotools.core.autotoolsNatureV2">
      </requires-nature>
      <runtime>
         <run
               class="org.moblin.sdk.ide.MoblinSDKProjectNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.linuxtools.cdt.autotools.core.genmakebuilderV2">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.moblin.sdk.ide.category.invokeMoblintools"
            name="%MoblinSDK.InvokeMoblinTools.Name">
      </category>
      <command
            categoryId="org.moblin.sdk.ide.category.invokeMoblintools"
            id="org.moblin.sdk.ide.command.reconfigure"
            name="%MoblinSDK.Reconfigure.Name">
      </command>
      <command
            categoryId="org.moblin.sdk.ide.category.invokeMoblintools"
            id="org.moblin.sdk.ide.command.deploy"
            name="%MoblinSDK.Deploy.Name">
      </command>
      <command
            categoryId="org.moblin.sdk.ide.category.invokeMoblintools"
            id="org.moblin.sdk.ide.command.undeploy"
            name="%MoblinSDK.Undeploy.Name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.moblin.sdk.ide.actions.ConfigureHandler"
            commandId="org.moblin.sdk.ide.command.reconfigure">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.moblin.sdk.ide.actions.DeployHandler"
            commandId="org.moblin.sdk.ide.command.deploy">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.moblin.sdk.ide.actions.UndeployHandler"
            commandId="org.moblin.sdk.ide.command.undeploy">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:invokeMoblinTools">
         <command
               commandId="org.moblin.sdk.ide.command.reconfigure"
               id="reconfigure"
               label="%MoblinSDK.Reconfigure.Name"
               mnemonic="%MoblinSDK.Reconfigure.Mnemonic"
               style="push">
         </command>
         <separator
               name="org.moblin.sdk.ide.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.moblin.sdk.ide.command.deploy"
               id="deploy"
               label="%MoblinSDK.Deploy.Name"
               mnemonic="%MoblinSDK.Deploy.Mnemonic"
               style="push">
         </command>
         <command
               commandId="org.moblin.sdk.ide.command.undeploy"
               id="undeploy"
               label="%MoblinSDK.Undeploy.Name"
               mnemonic="%MoblinSDK.Undeploy.Mnemonic"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:project?after=additions">
         <menu
               id="invokeMoblinTools"
               label="%MoblinSDK.InvokeMoblinTools.Name"
               mnemonic="%MoblinSDK.InvokeMoblinTools.Mnemonic">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.moblin.sdk.ide.MoblinSDKNature">
                        </test>
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templates">
      <template
            id="org.moblin.sdk.ide.template.emptyProject"
            location="templates/projecttemplates/EmptyProject/template.xml"
            projectType="org.moblin.sdk.ide.projectType">
      </template>
      <template
            filterPattern=".*gcc"
            id="org.moblin.sdk.ide.template.helloWorldCProject"
            location="templates/projecttemplates/HelloWorldCAutotoolsProject/template.xml"
            projectType="org.moblin.sdk.ide.projectType">
      </template>
      <template
            filterPattern=".*g\+\+"
            id="org.moblin.sdk.ide.template.helloWorldCPPProject"
            location="templates/projecttemplates/HelloWorldCPPAutotoolsProject/template.xml"
            projectType="org.moblin.sdk.ide.projectType">
      </template>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateProcessTypes">
      <processType
            name="NewMoblinProject"
            processRunner="org.moblin.sdk.ide.wizard.NewMoblinCProjectTemplate">
         <simple
               name="name">
         </simple>
         <simple
               external="true"
               name="location"
               nullable="true">
         </simple>
         <simple
               name="artifactExtension">
         </simple>
         <simple
               external="true"
               name="isCProject">
         </simple>
      </processType>
   </extension>
   <extension
         point="org.eclipse.cdt.ui.CDTWizard">
      <wizard
            class="org.moblin.sdk.ide.wizard.MoblinBuildWizard"
            name="%MoblinSDK.Wizard.Name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <projectType
            id="org.moblin.sdk.ide.projectType"
            isAbstract="true"
            name="%MoblinSDK.ProjectType.Name"
            superClass="org.eclipse.linuxtools.cdt.autotools.core.projectType">
      </projectType>
   </extension>
   <extension
         point="org.eclipse.cdt.core.CBuildConsole">
      <CBuildConsole
            class="org.moblin.sdk.ide.actions.MoblinConsole"
            id="org.moblin.sdk.ide.moblinConsole">
      </CBuildConsole>
   </extension>

</plugin>
